@import url(http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic,700italic);

/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { height: 100%, font-size: 62.5%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { height: 100%; margin: 0; padding: 0; font-size: 1em; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: inherit; }
a:visited { color: inherit; }
a:hover { color: #fff; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ===============
    ALL: IE Fixes
   =============== */

.ie7 #title{ padding-top:20px; }


/*******************************************/
/* GemuCon 2012                            */
/* @author Amy Guy (rhiaro.co.uk)          */
/* @date May 2012                          */
/*										   */
/*******************************************/

/** 
	0.0 Accessibility
**/
	.no-css {
		/* This class hides stuff that needs to be around for screenreaders
		 * or users with no CSS, but not in normal circumstances
		 */
		position: absolute; left: -1000px;
	}

	.hide {
		display: none; visibility: hidden;
	}

	.fixedh {
		height: 300px; width: 100%;
		padding: 0.4em;
		border: 2px solid white;
		overflow: auto;
	}

/*	0.1 	*/
	@media screen and (min-width: 479px){}

/*	0.2 	*/
	@media screen and (min-width: 768px){}

/*	0.3 	*/
	@media screen and (min-width: 1024px){}

/*	0.4 	*/
	@media screen and (min-width: 1200px){}


/** 
	1.0 Typography
**/

h1 { font-family: 'Iceberg', serif; }
h2 { font-family: Arial; font-weight: bold; text-transform: uppercase; text-align: center; letter-spacing: 0.4em; font-size: 1.6em;}

nav, nav li {
	font-family: 'Iceberg', 'Istok Web' Helvetica, Arial, sans-serif;
	font-size: 1em;
}

p, li {
	font-family: 'Istok Web', Helvetica, Arial, sans-serif;
	font-size: 0.9em;
}

nav a {
	text-decoration: none;
}

.navlink {
	text-align: center;
}

.info {
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	/*font-family: 'Iceberg', Arial, Helvetica, sans-serif;*/
}

.btn {
	font-weight: bold;
	text-align: center;
}

.btnbig {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.6em;
}

.big { font-size: 1.6em; }

.btn, .btn a, .btn a:hover, .btnbig a, .btnbig a:hover, .btnmid a, .btnmid a:hover {
	text-decoration: none;
	cursor: pointer;
}

.trigger:hover {
	text-decoration: underline;
	cursor:pointer;
}

.date {
	font-size: 0.6em;
	font-style: italic;
	text-align: right;
}

.note {
  font-size: 0.8em;
  font-weight: bold;
}

.wee {
  font-size: 1em;
  text-align: right;
}

.win, .fail {
  border: 2px solid;
  display: block;
}
.win ul, .fail ul {
}

.align-right { text-align: right; }
.align-center { text-align: center; }
.align-left { text-align: left; }

/*	1.1 	*/
	@media screen and (min-width: 479px){
		.navlink {
			visibility: hidden;
		}

		#nav {
			position: absolute;
			top: 0;
			width: 100%;
		}
	}

/*	1.2 	*/
	@media screen and (min-width: 768px){}

/*	1.3 	*/
	@media screen and (min-width: 1024px){}

/*	1.4 	*/
	@media screen and (min-width: 1200px){}


/** 
	2.0 Colors, shadows, borders
**/

	nav {
		opacity: 0.8;
		padding: 0.2em 0 0.2em 0;
	}

	a, a:visited { color: inherit; }

	nav ul li a:hover {
		border-bottom: 2px solid #19134a;
		margin-top: -2px;
	}

	.stripe { border-top: 1px solid; border-bottom: 1px solid; }
	.box { border-bottom: 1px solid;}

	.details { border-bottom: 1px solid;}
	.border, .btn { border: 2px solid; }
	
	/* Dark */
		.dark { color: #121212;}
		.dark-bg, .stripe { background-color: #121212; }
		.dark-border { border-color: #121212; }
		.dark-bg-hov:hover { background-color: #121212;}

		.darker { color: #000000; }
		.darker-bg, body { background-color: #000000; }
		.darker-border, .details { border-color: #000;}

	/* Primary Color (hot pink) */
		.color1, h1, h2{ color: #ff00e1; }
		.color1-bg { background-color: #ff00e1; }
		.color1-border { border-color: #ff00e1; }

	/* Secondary Color (musky blue) */
		.color2, .info{ color: #19134a; }
		.color2-bg { background-color: #19134a; }
		
	/* Tertiary Color (medium grey) */
		.color3 { color: #333333; }
		.color3-bg { background-color: #333333; }
		.color3-bg-hov:hover { background-color: #333333;}
		.color3-border, .stripe, .box { border-color: #333333; }

	/* Light */
		.light, .date, body, h3 {
			color: #CCCCCC;
		}
		.light-bg{
			background-color: #CCCCCC;
		}
		.light-border { border-color: #ccc;}
		.lighter, nav ul li a:hover { color: #fff; }
		.lighter-bg { background-color: #fff; }

	.note {
		color: silver;
	}

	.win {
	  background-color: #E6EFC2;
	  color:#264409;
	  border-color:#C6D880;
	}

	.fail {
	  background:#FBE3E4;
	  color:#8a1f11;
	  border-color:#FBC2C4;
	}

/** 
	3.0 Spacing / Grid
**/

h2 { padding-top: 0.2em;}

canvas { position: fixed; bottom: 0; left: 0; z-index: -1;}
div, p, header, footer {z-index: 0;}

.wrapper {
	width: 100%;
}

/* Grid */
/*.w1of2 { width: 50%; float: left; }
.w1of3 { width: 33%; float: left; }
.w2of3 { width: 66%; float; left; }*/
.w1of1, .w1of2, .w1of3, .w1of4, .w1of5,
.w2of3, .w3of4, .w2of5, .w3of5, .w4of5 {
	width: 100%;
}

.inner {
	padding: 1em;
}

nav {
	max-width: 100%;
}

nav ul li a {
	display: block;
	padding: 0.8em;
}

.navlink {

}

.txtlbl {
	width: 10em;
	display: inline-block;
}
.txt {
	width: 20em;
	max-width: 60%;
}

.inline {
	display: inline;
}

.btn {
	padding: 0.2em;
	cursor: pointer;
}
.btn:hover {
	text-decoration: :none;
}
.btnmid {
	max-width: 50%;
	min-width: 25%;
	display: block;
	padding: 0.5em;
	margin-left: auto; margin-right: auto;
	text-align: center;
	text-transform: uppercase; font-weight: bold;
}
.btnbig {
	width: 100%;
	display: block;
}

.btnbig a, .btnmid a { 
	display: inline-block; 
	width: 100%; height: 100%;
}
.btnbig a {
	padding: 1em 0 1em 0;
}
.big { padding: 1em 0 1em 0.2em; }

.right { float: right; margin: 0.2em 0 0.2em 0.2em; }
.left { float: left; margin: 0.2em 0.2em 0.2em 0;}
.cl { clear: left;}
.cr { clear: right;}


/*	3.1 	*/
	@media screen and (min-width: 479px){
		nav ul li {
			float: left;
		}
	}

/*	3.2 	*/
	@media screen and (min-width: 768px){
		.w1of2 { width: 50%; float: left; }
		.w1of3 { width: 33%; float: left; }
		.w1of4 { width: 25%; float: left; }
		.w1of5 { width: 20%; float: left; }
		.w2of3 { width: 66%; float: left; }
		.w3of4 { width: 75%; float: left; }
		.w2of5 { width: 40%; float: left; }
		.w3of5 { width: 60%; float: left; }
		.w4of5 { width: 80%; float: left; }

		.w1of3:nth-child(odd) {
			clear: none;
		}
		
		.w1of3:nth-child(3n-2) {
			clear: both;
		}
	}

/*	3.3 	*/
	@media screen and (min-width: 1200px){
		.wrapper {
			width: 1200px;
			margin-left: auto; margin-right: auto;
		}
	}

/*	3.4 	*/
	@media screen and (min-width: 1200px){}


/** 
	4.0 Images and video
**/

h1 img {
	width: 100%;
}

.banner { width: 100%; }
.graphbox { width: 100%; }

.twtr-doc, .twtr-timeline {
	opacity: 0.8;
}

.banner { margin: 0 auto; }
.banner .slides {
	display: block;
	position: relative;
	overflow: hidden;
}
.banner .slides li {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.banner .slides li img {
	display: block;
	width: 100%;
	max-width: none;
}
.banner .slides li.active { display: block; position: relative; }
.banner .crop li img { width: auto; }

.banner .pager {
	height: 40px;
	text-align: center;
}
.banner .pager li { display: inline-block; }
.banner .pager li a,
.banner .pager li a span {
	display: block;
	height: 4px;
	width: 4px;
}
.banner .pager li a {
	padding: 18px 8px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;

}
.banner .pager li a span {
	overflow: hidden;
	background: #c0c0c0;
	text-indent: -9999px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;

}
.banner .pager li.active a span { background: #404040; }

.vid-holder {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.vid-holder iframe,  
.vid-holder object,  
.vid-holder embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.w1of1 img, .w1of2 img, .w1of3 img, .w1of4 img, .w1of5 img,
.w2of3 img, .w3of4 img, .w2of5 img, .w3of5 img, .w4of5 img {
	max-width: 100%;
}

/* Full width images on bigger than small screens are dumb. */
@media screen and (max-width: 478px){
  .w1of1 img, .w1of2 img, .w1of3 img, .w1of4 img, .w1of5 img,
  .w2of3 img, .w3of4 img, .w2of5 img, .w3of5 img, .w4of5 img {
    width: 100%;
  }
}

/*	4.1 	*/
	@media screen and (min-width: 479px){}

/*	4.2 	*/
	@media screen and (min-width: 768px){}

/*	4.3 	*/
	@media screen and (min-width: 1024px){}

/*	4.4 	*/
	@media screen and (min-width: 1200px){}



/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
