<div class="box">
    <h3><perch:content id="boxtitle" type="text" label="Title" html="false" required="true" title="true" /></h3>
    <perch:content id="text" type="textarea" label="Content" textile="true" editor="markitup" imagewidth="640" imageheight="480" />
</div>