<div class="box">
    <h3><perch:content id="newstitle" type="text" label="News Title" html="false" required="true" title="true" /></h3>
    <perch:content id="newstext" type="textarea" label="News Text" textile="true" editor="markitup" imagewidth="640" imageheight="480" />
    <p class="date"><perch:content id="date" type="date" label="Date" format="%d %B %Y" required="true" /></p>
</div>