html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
}

body
{
    color: #ffffff;
    background-color: #000;
	font-family: arial;
    font-size: 12px;
}

#game_container{
	width: 100%;
	height: 100%;
	overflow:hidden;
	font-family: Courier;
}

#invaders-canvas, #background-canvas
{
	width: 100%; 
}

#background-canvas{
	height: 0px;
}

#invaders-canvas {
	position: absolute; bottom: 0px;
}

#gameover{
	display: none;
	text-align: center;
	font-size: 16em;
	color: #DB1616;
	font-weight: bold;
	opacity: 0.6;
	text-transform: uppercase;
}

#player_score {
	position: absolute; bottom: 0px; right: 0px;
	font-size: 10em; font-weight:bold;
	color: #57b947;
	opacity: 0.6;
}